@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 550px) {
  ::-webkit-scrollbar {
      width:8px;
      height: 8px;
      border-radius: var(--baseRadius)
  }

  ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: var(--baseRadius)
  }

  ::-webkit-scrollbar-thumb {
      background-color: #a9b4bc80;
      border-radius: 15px;
      border: 2px solid transparent;
      background-clip: padding-box
  }

  ::-webkit-scrollbar-thumb:hover,::-webkit-scrollbar-thumb:active {
      background-color: #a9b4bc
  }

  html {
      scrollbar-color: rgba(169,180,188,.5) transparent;
      scrollbar-width: auto
  }

  html.smooth-scroll {
      scroll-behavior: smooth
  }

  html * {
      scrollbar-width: inherit
  }
}

